@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #696ae0;
  --color-secondary: #fd6e44;
  --color-accesnt: #a4ff5dc4;

  /* dark */
  --color-dark: #22212b;
  --color-secondary-dark: #1a1a24;
  --color-accesnt-dark: #212639;
  --color-h-dark: #fbfbfb;
  --color-p-dark: #8b8b8b;
  --color-nav-icon-dark: #9dccf2;
  --color-border-dark: #283142;

  /* light */
  --color-light: #f7f7f7;
  --color-secondary-light: #ffffff;
  --color-accesnt-light: #eff3f9;
  --color-h-light: #313131;
  --color-p-light: #85909c;
  --color-nav-icon-light: #1f1f6b;
  --color-border-light: #d7dee6;

  --font-display: "Roboto", "sans-serif";
}

body {
  background-color: #e3e3e3;
}

:root {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .map-container {
    height: 100dvh;
  }

  .wm-container{
    left: -1px !important;
    bottom: 76px !important;
  }

  #bottom-nav {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer utility {
  .loader-tailwind {
    @apply relative w-[55px] h-[30px];
    background-repeat: no-repeat;
    background-image: linear-gradient(#fff 50px, transparent 0),
      linear-gradient(#fff 50px, transparent 0),
      linear-gradient(#fff 50px, transparent 0),
      linear-gradient(#fff 50px, transparent 0),
      linear-gradient(#fff 50px, transparent 0),
      linear-gradient(#fff 50px, transparent 0);
    background-position: 0px center, 15px center, 30px center, 45px center,
      60px center, 75px center;
    animation: rikSpikeRoll 0.65s linear infinite alternate;
  }

  @keyframes rikSpikeRoll {
    0% {
      background-size: 10px 3px;
    }
    16% {
      background-size: 10px 30px, 10px 3px, 10px 3px, 10px 3px, 10px 3px,
        10px 3px;
    }
    33% {
      background-size: 10px 30px, 10px 30px, 10px 3px, 10px 3px, 10px 3px,
        10px 3px;
    }
    50% {
      background-size: 10px 10px, 10px 30px, 10px 30px, 10px 3px, 10px 3px,
        10px 3px;
    }
    66% {
      background-size: 10px 3px, 10px 10px, 10px 30px, 10px 30px, 10px 3px,
        10px 3px;
    }
    83% {
      background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 30px,
        10px 3px;
    }
    100% {
      background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px,
        10px 30px;
    }
  }

  @keyframes pulse-ring {
    0% {
      transform: scale(0.5);
      opacity: 0.6;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  .pulse-ring-1 {
    animation: pulse-ring 2s ease-out infinite;
  }

  .pulse-ring-2 {
    animation: pulse-ring 2s ease-out infinite 0.5s;
  }

  .pulse-ring-3 {
    animation: pulse-ring 2s ease-out infinite 1s;
  }
}
